<div class="col-md-6 col-md-offset-3">
  <div class="content-container">
    <h1>Sign up</h1>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
          type="text"
          id="firstName"
          class="form-control"
          formControlName="firstName"
        >
      </div>
      <div
        class="alert alert-danger" *ngIf="!myForm.controls['firstName'].valid && showingErrors"
      >
        Wrong first name format
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input 
          type="text"
          id="lastName"
          class="form-control"
          formControlName="lastName"
        >
      </div>
      <div
        class="alert alert-danger" *ngIf="!myForm.controls['lastName'].valid && showingErrors"
      >
        Wrong last name format
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          id="email"
          class="form-control"
          formControlName="email"
        >
      </div>
      <div
        class="alert alert-danger" *ngIf="!myForm.controls['email'].valid && showingErrors"
      >
        Wrong email format
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          formControlName="password"
        >
      </div>
      <div
        class="alert alert-danger" *ngIf="!myForm.controls['password'].valid && showingErrors"
      >
        Password can't be blank
      </div>
      <div
        class="alert alert-danger" *ngIf="serverError"
      >
        {{ serverError }}
      </div>
      <button 
        class="btn btn-primary"
        type="submit"
      >
        Create account
      </button>
      <div class="follow-up-text">
        Already registered? 
        <a [routerLink]="['/auth/signin']">
          Sign in
          <i class="fa fa-sign-in" aria-hidden="true"></i>
        </a>
      </div>
    </form>
  </div>
</div>