<article [hidden]="!visible" class="panel panel-default">
  <div class="panel-heading trip-heading">
    <div class="trip-destination">
      {{ trip.destination }}
      <span *ngIf="upcomingTrip">(in {{ trip.startDate | amDifference: today :'days' : false}} days)</span>
    </div> 
    <div class="trip-dates">{{ trip.startDate | amDateFormat: 'll' }} - {{ trip.endDate | amDateFormat: 'll'}}</div>
  </div>
  <div class="panel-body">
    <div class="author">
      {{ trip.comment }}
    </div>
    <div class="config">
      <a (click)="onEdit()">Edit</a>
      <a (click)="onDelete()">Delete</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</article>
