.trip-heading {
  position: relative;
}

.trip-destination {
  text-align: center;
}

.trip-dates {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 11px;
  font-style: italic;
  color: #676767;
}