<button type="button" class="btn btn-default"
  (click)="
    height = height ? 0 : el.scrollHeight;
    buttonCaption = buttonCaption === 'Show Filters' ? 'Hide Filters' : 'Show Filters';
    ">
    
    <i class="fa fa-filter" aria-hidden="true"></i>
    {{ 'Filters' }}
</button>
<div class="dropdown my-dropdown" dropdown>
  <div dropdown-open>
    <span class="print">
      <i class="fa fa-caret-down" aria-hidden="true"></i>
      <i class="fa fa-print" aria-hidden="true"></i>
    </span>
  </div>
  <ul class="dropdown-menu">
    <li><a (click)="onPrintDiv('trips')">Print trips</a></li>
    <li><a (click)="printTripsForNextMonth('trips')">Print trips for next month</a></li>
  </ul>
</div>

<div class="block" 
  [style.height]="height + 'px'"
  [style.overflow]="height ? 'initial' : 'hidden' "
  #el> 
  <div class="filters-container">
    <h1> Filters </h1>
    <div>
      <label for="destination">By destination:</label>
      <input class="form-control"
        type="text"
        id="destination"
        [(ngModel)]="filterDestination"
        (ngModelChange)="destinationChanged($event)"
      >
      <div>
        <label for="startDate">By Start Date:</label>
      </div>
      <div class="date-filter">
        <label for="startDate">From </label>
        <my-date-picker
          [options]="createDatePickerOptions('start')"
          (dateChanged)="startDateChanged($event)"
          [selDate]="startDate"
          id="startDate"
          class="formControl"
          >
        </my-date-picker>
        <div
          class="alert alert-danger alert-picker" *ngIf="!startDate && showingErrors"
        >
          Start date is not correct
        </div>
        <label for="endDate">Until </label>
        <my-date-picker
          [options]="createDatePickerOptions('end')"
          (dateChanged)="endDateChanged($event)"
          [selDate]="endDate"
          id="endDate"
          class="formControl"
          >
        </my-date-picker>
        <div
          class="alert alert-danger alert-picker" *ngIf="!endDate && showingErrors"
        >
          Start date is not correct
        </div>
      </div>  
    </div>
  </div>
</div>