<article class="panel panel-default">
  <div class="panel-heading trip-heading">
    <div class="trip-destination">{{ trip.destination }}</div> 
    <div class="trip-dates">{{ trip.startDate | amDateFormat: 'll' }} - {{ trip.endDate | amDateFormat: 'll'}}</div>
  </div>
  <div class="panel-body">
    <div class="author">
      {{ trip.comment }}
    </div>
    <div class="config">
      <a [routerLink]="['/trips/edit']">Edit</a>
      <a (click)="onDelete()">Delete</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</article>
